---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <ul role='list'>
      {[0, 0, 0].map(() => <Card title='' date='' />)}
    </ul>
  </main>
</Layout>
