---
export interface Props {
  lvl?: 'A1' | 'A2' | 'B1' | 'B2' | 'C1' | 'C2' | '';
  flag?: string;
  title: string;
  date: string;
}

const { lvl = '', flag = '', date, title }: Props = Astro.props;
---

<li class='w-full'>
  <a
    class='flex flex-row gap-2 justify-between p-2 -mx-2 rounded-sm transition-colors relative hover:bg-[rgba(125,211,252,.1)]'
    href='/'
  >
    <h2 class='text-gray-800 font-sans dark:text-white w-[45%]'>{title}</h2>
    {
      lvl ? (
        <span class='dark:text-white inline-block w-[5%]'>{lvl}</span>
      ) : null
    }
    {flag ? <span class='inline-block w-[5%]'>{flag}</span> : null}
    <time class='text-gray-600 tracking-tighter inline-block'>{date}</time>
  </a>
</li>
